{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Tweetex{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        <script src="{% static 'network/script.js' %}"></script>
    </head>
    <body>
        <div class="container-lg border-right border-left border-bottom border-dark" id="main-feed">
            <nav class="navbar navbar-expand-lg navbar-light mb-3" style="background-color: rgb(68, 171, 255);">
                <a class="navbar-brand" href="#">Tweetex</a>
            
                <ul class="navbar-nav mr-auto justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}" id="all">All Posts</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'following' %}" id="following">Following</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
                <div>
                    {% if user.is_authenticated %}
                        Logged in as <a href="/profile/{{ user.username }}" id="userLink"><strong id="loggedUser">{{ user.username }}</strong></a>
                    {% endif %}
                </div>
            </nav>
            
            <div class="body">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>