{% extends "network/layout.html" %}

{% block body %}

<div class="row no-gutters align-items-center mx-3 mt-5">
    <div class="col-7">
        <h2 id="user"></h2>
    </div>
    {% if user.is_authenticated %}
    <div class="col text-right" id="followBtn"><button class="btn btn-primary" id="followBtnC"></button></div>
    {% endif %}
</div>
<div class="row mx-1 mt-5">
    <div class="col"><strong>Followers:</strong> <num id="followersNum"></num> <strong>Following:</strong> <num id="followingNum"></num> </div>
</div>
<hr>
<div class="container-fluid">
    <h4>Posts</h4>
    <hr>
    <div id="posts"></div>
    <div id="paginateNav" class="mt-2">
    </div>
</div>
{% endblock %}